<div class="footer">
  <a href="http://www.perdu.com">
    <%=  image_tag("Logo 3 2.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="http://www.perdu.com">
    <%=  image_tag("Logo 3 2.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="http://www.perdu.com">
    <%=  image_tag("Logo 3 2.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="http://www.perdu.com">
    <%=  image_tag("Logo 3 2.png", alt: "Gust - all rights reserved.") %>
  </a>
</div>
