<div class="footer">
  <a href="http://www.perdu.com">
    <%=  image_tag("instagram.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="http://www.perdu.com">
    <%=  image_tag("Youtube.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="http://www.perdu.com">
    <%=  image_tag("spotify.png", alt: "Gust - all rights reserved.") %>
  </a>
</div>
