<div class="footer">
  <a href="https://instagram.com/gust.tv?igshid=1izl58x0y6o6l">
    <%=  image_tag("instagram.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="https://www.youtube.com/channel/UCdfa6ZyUmK3TLBN-DN-zvSA/videos">
    <%=  image_tag("Youtube.png", alt: "Gust - all rights reserved.") %>
  </a>
    <a href="https://open.spotify.com/artist/1y3Hv7gEfaRjKEp4AMB2tH?si=Qqmy6YHxQyG_jNo59C0ZzQ">
    <%=  image_tag("spotify.png", alt: "Gust - all rights reserved.") %>
  </a>
</div>
