
.mosaic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.display-bubble{
  display:flex;
  flex-direction: column;
  text-align:center;
}

.title-new{
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px !important;
}

.title-btn-new{
  font-family: 'Oswald', sans-serif !important;
  font-size: 15px !important;
}


.ajouter-btn a {
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px !important;
  color: red !important;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-shadow: 1px 1px 5px black;
}

.bottom-left-subtitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.card-image {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 10px;
}



.lock-item img{
    width: 30px;
}

.img-back img{
width: 30px;
margin-bottom: 20px;
}

.card-video {
  display:flex;
  flex-direction:column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: -2px 1px 9px 1px rgba(0,0,0,0.28)

}

.margin-video{
text-align: center !important;
}

.card-item{
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px !important;
  display:flex;
  justify-content: space-between;
  margin-bottom:10px;
}

.card-item a{
  color: red !important;
}

.card{
  border: 0px solid !important;
}
// Smallest device


// Small devices (landscape phones, 576px and up)
@media (max-width: 320px) {
  .carousel-inner{
  margin-left: 10px;
}
}

@media (max-width: 320px) {
  .body{
  margin-left: -10px;;
}
}


@media (max-width: 320px) {
  .menu{
  margin-left: 20px;
}
}

@media (min-width: 100px) {
  .mosaic{
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;

}
}

@media screen and (min-width: 100px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 100px !important;
  object-fit:cover !important;
}
}

@media (min-width: 100px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 10px;
}
}


@media screen and (min-width: 200px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 200px !important;
  object-fit:cover !important;
}
}

@media (min-width: 200px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px;
}
}


@media screen and (min-width: 300px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 300px !important;
  object-fit:cover !important;
}
}

@media (min-width: 300px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 20px;
}
}


@media screen and (min-width: 400px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 400px !important;
  object-fit:cover !important;
}
}

@media (min-width: 400px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 30px;
}
}


@media screen and (min-width: 500px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 250px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 500px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px;
}
}


@media screen and (min-width: 600px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 300px !important;
  width: 600px !important;
  object-fit:cover !important;
}
}

@media (min-width: 600px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px;
}
}


@media screen and (min-width: 800px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 350px !important;
  width: 700px !important;
  object-fit:cover !important;
}
}

@media (min-width: 800px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 50px;
}
}


@media screen and (min-width: 900px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 400px !important;
  width: 800px !important;
  object-fit:cover !important;
}
}

@media (min-width: 900px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 50px !important;
}
}

@media (min-width: 1000px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}

@media screen and (min-width: 1000px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 320px !important;
  object-fit:cover !important;
}
}



@media (min-width: 1000px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px !important;
}
}

@media (min-width: 1100px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}

@media (min-width: 1100px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 340px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1100px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px !important;
}
}

@media (min-width: 1200px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}

@media (min-width: 1200px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 380px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1200px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px !important;
  margin-left: 20px;
}
}

@media (min-width: 1300px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}

@media (min-width: 1300px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 400px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1300px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 40px !important;
  margin-left: 20px;
}
}


@media (min-width: 1400px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}

@media (min-width: 1400px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 420px !important;
  object-fit:cover !important;
}
}

@media screen and (min-width: 1400px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 50px !important;
  margin-left: 20px;
}
}

@media (min-width: 1500px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 1500px) {
.img-home img{
 background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 480px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1500px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 50px !important;
  margin-left: 20px;
}
}

@media (min-width: 1600px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 1600px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1600px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 60px !important;
  margin-left: 20px;
}
}

@media (min-width: 1700px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 1700px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1700px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 60px !important;
  margin-left: 20px;
}
}

@media (min-width: 1800px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 1800px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1800px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 60px !important;
  margin-left: 20px;
}
}

@media (min-width: 1900px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 1900px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 200px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 1900px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 60px !important;
  margin-left: 20px;
}
}

@media (min-width: 2000px) {
  .mosaic{
  display:flex;
  flex-direction: row;
  justify-items: center;

}
}


@media (min-width: 2000px) {
.img-home img{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 250px !important;
  width: 500px !important;
  object-fit:cover !important;
}
}

@media (min-width: 2000px) {
.bottom-left{
  font-family: 'Oswald', sans-serif !important;
  font-size: 60px !important;
  margin-left: 20px;
}
}

@media only screen and (max-width: 800px){
.video-mobile{
text-align: center !important;
display: grid !important;
grid-template-columns: 1fr;
}}

@media only screen and (max-width: 800px) {
.video-ipad{
  display: none;
}}

@media only screen and (min-width: 801px) {
.video-mobile{
  display: none;
}}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
.video-ipad{
text-align: center !important;
display: grid !important;
grid-template-columns: 1fr 1fr;
}}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
.video-medium{
text-align: center !important;
display: grid !important;
grid-template-columns: 1fr 1fr 1fr;
}}

@media only screen and (min-width: 1901px) {
.video-medium{
  display: none;
}}

@media only screen and (min-width: 1901px) {
.video-desktop{
text-align: center !important;
display: grid !important;
grid-template-columns: 1fr 1fr 1fr 1fr;
}}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
